.checkout__container {
  display: flex;
  width: 100%;
  gap: 10px;
}

.checkout__cart,
.checkout__form {
  flex: 1;
}

.checkout__cart {
  border-right: 1px solid #ddd;
}

@media (max-width: 768px) {
  .checkout__container {
    flex-direction: column;
  }

  .checkout__cart {
    border-right: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }
}
